@import url('https://fonts.googleapis.com/css?family=Lato');

*{
font-family: 'Lato', sans-serif;
}

a{
  text-decoration: none;
  color: navy;
}

h1{
  text-align:center;
  text-transform:uppercase;
}

table {
  border-spacing: 0.5rem;
  width:100%;
}

thead{
      text-transform:uppercase;
}
td {
  padding: 0.5rem;
}

td:nth-child(1) { background: hsl(150, 40%, 50%); }
td:nth-child(2) { background: hsl(160, 50%, 50%); }
td:nth-child(3) { background: hsl(170, 65%, 50%); }
td:nth-child(4) { background: hsl(175, 70%, 50%); }
td:nth-child(5) { background: hsl(180, 75%, 50%); }
td:nth-child(6) { background: hsl(185, 80%, 50%); }
td:nth-child(7) { background: hsl(190, 85%, 50%); }
td:nth-child(8) { background: hsl(195, 90%, 50%); }
td:nth-child(9) { background: hsl(200, 99%, 50%); }